{% for key, val in media %}
    <div class="effect-layla relative clear-padding col-md-4 col-sm-4 col-xs-4 float-left zoom-image-hover">
        <img alt="{{ val.name }}" src="{{ val.path }}" />
    </div>


{% endfor %}